@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar-thumb-dark::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
  }
  .scrollbar-track-dark::-webkit-scrollbar-track {
    background: #1a1a1a;
  }

  /* For Firefox */
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #555 #1a1a1a;
  }
}

body{
  background-color: rgb(21, 21, 21);
  font-family: "Poppins", sans-serif;
  /* width: 100vw; */
}

:root{
    --one-fourth: '1/2'
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;  /* Firefox */
}