@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar-thumb-dark::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
  }
  .scrollbar-track-dark::-webkit-scrollbar-track {
    background: #1a1a1a;
  }

  /* For Firefox */
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #555 #1a1a1a;
  }
}

body{
  background-color: #030f16;
  font-family: "Poppins", sans-serif;
  /* width: 100vw; */
}

:root{
    --one-fourth: '1/2'
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;  /* Firefox */
}

.media-player {
  /* Player CSS variables (defaults shown). */
  --media-font-family: sans-serif;
  --media-controls-color: #f5f5f5;
  --media-focus-ring: 0 0 0 3px rgb(78 156 246);
}

.vds-menu {
  /* CSS variables available for customization (defaults shown). */

  --media-menu-bg: var(--media-menu-bg, var(--color-gray-400));
  --media-menu-border-radius: 4px;
  --media-menu-border: 1px solid rgb(255 255 255 / 0.1);
  --media-menu-box-shadow: 1px 1px 1px rgb(10 10 10 / 0.5);
  --media-menu-divider: 1px solid var(--color-gray-50);
  --media-menu-font-size: 14px;
  --media-menu-font-weight: 500;
  --media-menu-max-height: 250px;
  --media-menu-min-width: 220px;
  --media-menu-padding: 12px;
  --media-menu-top-bar-bg: rgb(10 10 10 / 0.6);
  --media-menu-icon-rotate-deg: 90deg;

  --media-sm-menu-landscape-max-height: min(70vh, 400px);
  --media-sm-menu-portrait-max-height: 40vh;

  /* Theme. */
  --media-menu-color-gray-50: rgb(245 245 245 / 0.1);
  --media-menu-color-gray-100: rgb(245 245 245 / 0.45);
  --media-menu-color-gray-200: rgb(10 10 10 / 0.6);
  --media-menu-color-gray-300: rgb(27 27 27);

  /* Text. */
  --media-menu-text-color: #f5f5f5;
  --media-menu-text-secondary-color: #6b6b6b;

  /* Animation. */
  --media-menu-enter-animation: vds-menu-enter 0.3s ease-out;
  --media-menu-exit-animation: vds-menu-exit 0.2s ease-out;

  /* Scrollbar. */
  --media-menu-scrollbar-track-bg: transparent;
  --media-menu-scrollbar-thumb-bg: var(--color-gray-50);

  /* Section. */
  --media-menu-section-bg: var(--color-gray-300);
  --media-menu-section-border: unset;
  --media-menu-section-divider: var(--divider);
  --media-menu-section-header-font-size: 12px;
  --media-menu-section-header-font-weight: 500;
  --media-menu-section-gap: 8px;
  --media-menu-section-border-radius: 2px;

  /* Item. */
  --media-menu-item-bg: transparent;
  --media-menu-item-border-radius: 2px;
  --media-menu-item-border: 0;
  --media-menu-item-height: 40px;
  --media-menu-item-hover-bg: var(--color-gray-50);
  --media-menu-item-icon-size: 18px;
  --media-menu-item-icon-spacing: 6px;
  --media-menu-item-padding: 10px;

  /* Radio. */
  --media-menu-radio-icon-color: var(--text-color);

  /* Checkbox. */
  --media-menu-checkbox-width: 40px;
  --media-menu-checkbox-height: 18px;
  --media-menu-checkbox-bg-active: #1ba13f;
  --media-menu-checkbox-bg: var(--color-gray-100);
  --media-menu-checkbox-handle-bg: #f5f5f5;
  --media-menu-checkbox-handle-border: unset;
  --media-menu-checkbox-handle-diameter: calc(var(--checkbox-height) - 2px);

  /* Slider. */
  --media-menu-slider-height: 32px;
  --media-menu-slider-track-bg: var(--color-gray-50);
  --media-menu-slider-track-fill-bg: var(--color-inverse);

  /* Hint. */
  --media-menu-hint-color: var(--text-secondary-color);
  --media-menu-hint-font-size: 13px;
  --media-menu-hint-font-weight: 400;
}